<section class="about-show">
<header>
    <h2>
      About Us
    </h2>
    <p>We are a values-driven company with a passion for getting unique items. Every product we sell is our built with the inovative ideas of our suppliers. At Jungle, we have 123 stores in 28 countries (as of August 2017).</p>
</header>
  <div class='container'>
    <h3> Who we are</h3>
    <p> Jungle is guided by four principles: customer obsession rather than competitor focus, passion for invention, commitment to operational excellence, and long-term thinking.</p>
  </div>

</section> 